header{
    background-color: #562EFF;
    display:flex;
    align-items: center;
}
.head{
    display: flex;
    align-items: center;
    padding-left:270px;
}
.logo{
    width:40.42px;
    height:51px;
    padding-right: 8px;
}
.idea{
    font-size: 24;
    color:white;
}
nav{
    display:flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    padding-left: 408px;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding-right: 35px;
}
.nav-img{
    height:51px;
    width:51px;
}

/*top-player*/
.top-player{
    padding-left: 20px;
}

.body{
    font-family:sans-serif;
    margin:0 auto;
}
.container{
    width: 870px;
    height:679px ;
    margin-left: 15%;
    background-color: hsl(0, 15%, 88%);

}
.player img{
    width: 56px;
    height: 56px;
}
.player{
    display:flex;
    align-items: center;
}
.player-name{
    margin-left: 20px;
}
.players{
    display:grid;
    grid-template-columns: repeat(3,1fr);

}
/* top blog*/
.blogs{
    display: grid;
    grid-template-columns:repeat(2,1fr)
}
.blog{
    display: flex;
    align-items: center;
}
.blog img{
    width: 177px;
    height: 177px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.blog-info{
    margin-left: 20px;
}
/*Lates Course*/

footer{
    height: 362px;
    width:870px ;
    margin-left: 210px;
    background-color: hsl(0, 15%, 88%);
    
}

.parent-div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.course-1{
    box-shadow: 2px 1px 2px 1px;
    margin-left: 15px ;
    padding-top: 10px;
    height:269.79px ;
    width: 252.42px;

}
.courses img{
    width: 224px;
    height: 104px;
    padding-left: 15px;
    padding-top: 10px;
}
.course-info{
    padding-left: 10px;
}
.icon{
    height: 11.81px;
}
.icon-clock{
    display: flex;
    justify-content: space-between;
}
.icon img,.clock img{
    width:12.39px;
    height: 11.81px;
}
.clock{
    background-color: rebeccapurple;
    border-radius: 5px;
   padding-left: 2px;
    margin-right: 25px;
    margin-bottom: 5px;
}